PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/ng_tailadmin
CLIENT_ORIGIN=http://127.0.0.1:4200
JWT_SECRET=change-this-secret
ADMIN_USERNAME=dhernandez
ADMIN_PASSWORD=change-this-password
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/google/callback
